@use "../abstract/mixins" as mixin;
@use "../abstract/variables" as var;

[data-theme="light"] {
  --background-color: #F5F1E6;
  --text-color: #000000;
  --link-color: #505050;
  --border-color: rgb(255, 208, 208);
  --hover-color: #9471bf;
  --buttonbg-color: #fff;
  --button-color: #000000;
  --hf-background-color: #FDDDAF;
  --logo-background-color: inherit;
  --form-background-color: #FDDDAF;
}

[data-theme="dark"] {
  --background-color: #333;
  --text-color: #e0e0e0;
  --link-color: #D9A25F;
  --border-color: rgba(255, 255, 255, 0.15);
  --hover-color: #9471bf;
  --buttonbg-color: #ffffff;
  --button-color: #121212;
  --hf-background-color: rgba(255, 255, 255, 0.15);
  --logo-background-color: rgb(255, 255, 255);
  --form-background-color: #eae6e528;
}



body {
  background-color: var(--background-color);
  color: var(--text-color);
  border: var(--border-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

  #logo {
    @include mixin.flex();
    font-size: 38px;
    color: var(--text-color);

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background-color: var(--logo-background-color);
      padding: 0.2rem;
      padding-top: 0.1rem;
      border-radius: 10px;
    }
  }

  header {
    background-color: var(--hf-background-color);
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
    width: 100%;

    .logo-holder {
      margin-right: auto;
    }

    li {
      margin: 0 20px;
      width: auto;
    }
  }

  main {
    min-height: 85vh;
    margin: 40px 0;

  }

  footer {
    @include mixin.flex($wrap: wrap);
    background-color: var(--hf-background-color);
    border-top: 1px solid var(--border-color);


    div {
      @include mixin.flex(column,$align: flex-start, $wrap: wrap);

      margin: 15px;

      a, p {
        margin: 10px 0;
      }
    }
  }

  h2 {
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
  }

  nav ul {
    @include mixin.flex($direction: row, $justify: flex-end, $align: center);
    margin: 0 5%;

    a {
      font-size: 22px;
    }

    button {margin-top: 5px;}
  }
  
  a {
    color: var(--link-color);

    @include mixin.hover($hcolor: var(--hover-color, darkslategray));
  }

  // Tous les boutons
  .btn {
    @include mixin.flex();
  }
  button, .action li a {
    @include mixin.hover(var(--button-color), var(--hover-color));
    margin: 5px 0;
    font-size: 22px;
    padding: 0.3rem 1rem;
    border: #BABABA solid 1px;
    border-radius: 5px;
    color: var(--button-color);
    background-color: var(--buttonbg-color);
    cursor: pointer;
  }

  .action li svg {
    font-size: 12px;
  }

  .action li .fa-xmark{
    font-size: 18px;
  }
}

.tags {
  label {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 940px) {
  body {
    nav ul {
      @include mixin.flex($direction: column, $justify: center, $align: center);
      margin: 20px 0;

      li {
        margin: 10px 0;
      }

      a {
        font-size: 24px;
      }
    }
  }
  
}

@media screen and (max-width: 600px) {
  body {
    nav ul {
      @include mixin.flex($direction: column, $justify: center, $align: center);
      margin: 20px 0;

      a {
        font-size: 24px;
      }
    }
  }
  
}
