@use "../abstract/mixins" as mixin;
@use "../abstract/variables" as var;


.click {
    display: inline;
}

.account {
    display: block;
    text-align: center;
    margin-top: 15px;
}

#form {
    @include mixin.flex(column, $wrap: wrap);
    margin: 0 5%;
    margin-bottom: 100px;
    

    form, .login {
        @include mixin.flex(column, $wrap: wrap);
        border-radius: 3px;
        background-color: var(--form-background-color);
        padding: 2rem;
        box-shadow: #BABABA 0px 0px 4px;

    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    div {
        @include mixin.flex(column, $wrap: wrap); 
    }

    .checkbox {
        @include mixin.flex();
        margin-top: 15px;
        
        input {
            display: inline-block;
            width: 15px;
        }
        label {
            display: inline-block;
            margin: 5px;
        }
    }   

    label {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 300px;
        height: 25px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #BABABA;
    }

    button {
        margin-top: 25px;
        width: 150px;
        height: 40px;
    }

    #note_type_form {
        width: 100%;
        margin-bottom: 20px;

        div {
            @include mixin.flex(column, $wrap: wrap);

            #note_type_form_tag {
                @include mixin.flex(row, $wrap: wrap);

                label {
                    margin: 0px 5px;
                    margin-right: 10px;
                }

                input {
                    width: 10px;
                }

            }

            textarea {
                height: 100px;
                padding: 3px;
                resize: none;
            }
        }
        #note_type_form_public {
            @include mixin.flex(row, $wrap: wrap);

            label {
                margin: 0px 5px;
                margin-right: 10px;
            }

            input {
                width: 10px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #form {
        div {
            width: 100%;;
        }
        
        #note_type_form {
            input, textarea {
                width: 100%;
            }
        }
    }
    
}