@use "../abstract/mixins" as mixin;
@use "../abstract/variables" as var;

#read {
    @include mixin.flex($wrap: wrap);
    margin: 25px 5%;
    // min-width: 60%;

    .notebody {
        @include mixin.flex(column, $wrap: wrap);
        width: 100%;
        padding: 15px;
        box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        border: 1px solid #BABABA
    }

    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .auteur {
        margin: 15px 0;
    }

    .tags {
        @include mixin.flex(row, $wrap: wrap);
        margin-bottom: 15px;
        margin-top: 30px;
    }

    #date {
        @include mixin.flex(column,$align: flex-start, $wrap: nowrap);
        margin: 15px 0;

        span {
            font-weight: 700;
            margin-right: 10px;
        }

        .datedebut {
        margin-bottom: 5px;
        font-weight: 700;
        }
    }
    

    p {
        font-size: 16px;
        text-align: justify;
        margin-left: 7px;
        margin-right: 7px;
    }

    .action{    
        @include mixin.flex(row, $wrap: nowrap);
        margin-top: 25px;

        li {
            margin: 0 10px;

        }
    }
}

@media screen and (max-width: 560px) {
    #read {
        margin: 25px 0;
        .notebody {
            width: 100%;
        }
        .action {
            @include mixin.flex(column, $wrap: wrap);
            margin-top: 15px;
        }
    }
}