@use "../abstract/mixins" as mixin;
@use "../abstract/variables" as var;

// CSS Notes Index
#note {

    #notebloc {

        @include mixin.flex($wrap: wrap);
        height: 100%;

        .text {
            @include mixin.flex(column);

            h3 {
                text-align: center;
                text-transform: capitalize;
                font-size: 26px;
                margin-bottom: 10px;
            }

            .datedebut {
                margin-bottom: 5px;
                font-weight: 700;
            }

            p {
                font-size: 16px;
                text-align: justify;
                margin-left: 7px;
                margin-right: 7px;
            }
        }

        .notebody {
            @include mixin.flex(column, $wrap: wrap);
            width: 300px;
            height: 300px;
            padding: 10px;
            margin: 15px;
            // box-shadow: 2px 2px 5px rgb(53, 53, 53);
            box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            border: 1px solid #BABABA;


        }

        .notefooter {

            margin-top: auto;

            .action {
                margin-top: 5px;
                @include mixin.flex();

                li {
                    @include mixin.flex( $wrap: nowrap);
                    margin: 5px;
                    position: relative;
                

                    span {
                        position: absolute;
                        transition: all 300ms;
                        width: 0px;
                        overflow: hidden;
                    }
                    a {
                        font-size: 16px;
                    }
                }             
            }
        }
    }
}

// CSS Tags Index / Read 
.tags {
    @include mixin.flex($wrap: wrap);

    margin: 10px 0;

    div {

        .tag {
            display: block;
            position: relative;
            padding: 2px;
            padding-left: 4px;
            margin: 5px 0;
            margin-right: 20px;
            text-transform: capitalize;
            background-color: darkslategrey;
            color : white;
            

        }
        .triangle{
            position: absolute;
            top: -5px;
            right: -11px;
            display : inline-block;
            margin-top: 5px;
            height : 0;
            width : 0;
            border-top : 11px solid transparent;
            border-bottom : 11px solid transparent;
            border-left : 11px solid darkslategray;
        }

    }
}

#index {
    #note {
        #notebloc{
            // margin: 0 10%;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto; 
            align-items: center;
        }       
    }
}

@media screen and (max-width: 1024px) {
   #index {
        #note {
            #notebloc {
                grid-template-columns: auto auto;

            }
        }
   } 
}

@media screen and (max-width: 700px) {
   #index {
        #note {
            #notebloc {
                grid-template-columns: auto;

            }
        }
   } 
}
