{% extends 'base.html.twig' %}

{% block title %}Créer une note{% endblock %}

{% block body %}
    <main>
        <section id="form">
            {{form_start(noteform)}}
                <h2>Création de votre mémo / note</h2>
                {{form_widget(noteform)}}
                <button>Créer</button>
            {{form_end(noteform)}}
        </section>
    </main>
{% endblock %}