{% extends 'base.html.twig' %}

{% block title %}Éditer une note{% endblock %}

{% block body %}
    <section id="form">
        {{form_start(noteform)}}
            <h2>Modification de votre mémo / note</h2>
            {{form_widget(noteform)}}
            <button>Mettre à jour</button>
        {{form_end(noteform)}}
    </section>
{% endblock %}
